<% if model.errors.any? %>
  <div>
    <p class="alert alert-danger">
      <%= pluralize(model.errors.count, "error") %> al guardar:<br><br>
      <% model.errors.full_messages.each do |msg| %>
        <%= msg %><br>
      <% end %>
    </p>
  </div>
<% end %>
